<!DOCTYPE html>
<!--关于我页-->
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>关于我</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="/css/me.css">
	</head>
	<body>
		<!--导航-->
		<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">Blog</h2>
					<a href="#" th:href="@{/}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="#" th:href="@{/blog/types/{id}(id=-1)}" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" th:href="@{/blog/tags/{id}(id=-1)}" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
					<a href="#" th:href="@{/blog/archives}" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
					<a href="#" th:href="@{/blog/about}"  class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
				</div>
			</div>
			<a href="#" class="ui menu toggle icon button m-top-right m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<!--中间-->
		<div class="m-container-small m-padded-tb-massvie">
			<div class="ui container">
				<div class="ui stackable grid">
					<div class="eleven wide column">
						<div class="ui segment">
							<img src="http://unsplash.it/800/600?image=988" alt="" class="ui rounded image" />
						</div>
					</div>
					<div class="five wide column">
						<div class="ui secondary segment">
							<div class="ui two column grid">
								<div class="ui header column">
									<i class="idea icon"></i>关于我
								</div>
								<div class="meta right aligned column">
									<a th:href="@{/blog/goddess}" target="_blank" class="like">
										<i class="red like icon"></i> My Goddess
									</a>
								</div>
							</div>
						</div>
						<div class="ui attached segment">
							<p>从振杰，是一个简单而又快乐的人，人生并没有那么多的烦恼，自己过的很开心，但有时候也很纠结</p>
							<p>学习计算机专业，热爱历史，喜欢编程</p>
						</div>
						<div class="ui attached segment">
							<div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">java</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">音乐</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">运动</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">历史</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">旅游</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">风景</div>
							<div class="ui orange basic left pointing label m-margin-tb-tiny">学生</div>
						</div>
						<div class="ui attached segment">
							<div class="ui teal basic left pointing label m-margin-tb-tiny">篮球</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">跑步</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">海滩</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">电影</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">郑州</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">张敬轩</div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">三亚</div>
						</div>
						<div class="ui bottom attached segment">
							<a href="#" class="ui github circular icon button" data-content="https://github.com/SpringFuture" data-position="bottom center"><i class="github icon"></i></a>
							<a href="#" class="ui weixin circular icon button"><i class="weixin icon"></i></a>
							<a href="#" class="ui qq circular icon button" data-content="2442571481" data-position="bottom center"><i class="qq icon"></i></a>
							<a href="#" class="ui me circular icon button"><i class="image outline icon"></i></a>
						</div>
						<div class="ui wechat flowing popup transition hidden">
							<img src="/img/id.JPG" alt="" class="ui rounded image" style="width: 100px;" />
						</div>
						<div class="ui meImage flowing popup transition hidden">
							<img src="/img/me.JPG" alt="" class="ui rounded image"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<!--底部footer-->
		<footer class="ui inverted vertical segment">
			<div class="ui center aligned container">
				<div class="ui stackable inverted divided grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="/img/id.JPG" class="ui rounded image" alt="" style="width:110px ;"/>
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header">个人座右铭</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">得之坦然</a>
							<a href="#" class="item">失之淡然</a>
							<a href="#" class="item">争之必然</a>
							<a href="#" class="item">顺其自然</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">姓名:Cong Zhen Jie</a>
							<a href="#" class="item">QQ:2442571481</a>
							<a href="#" class="item">邮件:2442571481@qq.com</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header">关于博客</h4>
						<p>这是我的个人博客，会分享关于编程、生活、写作、思考感悟的相关内容，希望可以收获更多......</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-spacxed">Copyright@2020-2021CongZhenJie Designed By CongZhenJie</p>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script>
		$('.menu.toggle').click(function(){
			$('.m-item').toggleClass('m-mobile-hide');
		});
		$('.weixin').popup({
			popup:$('.wechat.popup'),
			position:'bottom center'
		});
		$('.me').popup({
			popup:$('.meImage.popup'),
			position:'right center'
		});
		$('.qq').popup();
		$('.github').popup();
	</script>
	</body>
</html>
